/* ===================================
    1. My Styles CSS
====================================== */

.menu-internas {
  width: calc(100% - 0px) !important;
  height: 100vh;
}

.newsletter-input-group {
  position: relative;
  width: 400px;
  .newsletter-input {
    width: 100%;
    height: 65px;
    padding: 0 0 0 35px;
    border: 0;
    background: white;
    border-radius: 50px;
    border: 1px solid #c9c9c9;
  }

  .btn-rounden {
    position: absolute;
    width: 55px;
    background-color: #55b856;
    height: 55px;
    border-radius: 50%;
    color: white;
    margin-top: -27.5px;
    top: 50%;
    right: -30px;
    &:hover {
      background-color: #68dd6a;
    }
  }
}

.aux-overflow-photos {
  overflow: hidden;
  width: 700px !important;
}

.table-cards-city,
tr,
td {
  border: none;
}

.aux-margin-right {
  margin-right: 60px !important;
  margin-left: -40px !important;
}

.cointainer-home-initial {
  /*  margin-left: 41%;
      margin-top: -31%; */
  width: 300px;
  height: auto;
}

.cointainer-home-middel {
  /*     position: relative;
      margin-left: -69%; */
  width: 300px;
  height: auto;
}

.cointainer-home-bottom {
  width: 300px;
  height: auto;
}

.image-home-group-slide {
  &:nth-child(1) {
    max-width: none !important;
    max-height: none !important;
    position: absolute;
    top: -50px;
    border-radius: 65px 0px 65px 0px;
    width: 330px !important;
    height: auto !important;
    top: 190px;
  }

  &:nth-child(2) {
    max-width: none !important;
    max-height: none !important;
    position: absolute;
    border-radius: 65px 0px 65px 0px;
    width: 330px !important;
    height: auto !important;
    top: 50px;
    left: 355px;
  }

  &:nth-child(3) {
    max-width: none !important;
    max-height: none !important;
    position: absolute;
    top: 480px;
    left: 355px;
    border-radius: 65px 0px 65px 0px;
    width: 330px !important;
    height: auto !important;
  }
}

.hands-splash-color {
  position: absolute;
  background-image: url(../images/hands.jpg);
  background-size: cover;
  width: 100%;
  height: 370px;
  z-index: -1;
  background-repeat: no-repeat;
  bottom: 0px;
}

.splash-newsletter {
  position: absolute;
  background-image: url(../images/pretty/splash-newsletter.jpg);
  background-size: cover;
  width: 100%;
  height: 55vh;
  z-index: -1;
  background-repeat: no-repeat;
  overflow: hidden;
  top: 33px;
  left: 60px;
}

.splash-color {
  position: absolute;
  background-image: url(../images/pretty/splash-bottom.jpg);
  background-size: cover;
  width: 100%;
  height: 53vh;
  z-index: -1;
  background-repeat: no-repeat;
  left: -303px;
  bottom: 0px;
  mix-blend-mode: darken;
}

.lines-home {
  position: absolute;
  background-image: url(../images/pretty/lines-home.png);
  background-size: contain;
  width: 100%;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}

.lines-about {
  position: absolute;
  background-image: url(../images/pretty/line-about.png);
  background-size: contain;
  width: 100%;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}

.lines-count {
  position: absolute;
  background-image: url(../images/pretty/line-count.png);
  background-size: contain;
  width: 100%;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}

.general-count {
  position: relative;
  top: -80px;
}

.countdown-cities {
  padding: 0 220px 0 220px;
}

.color-gray-light {
  color: $gray-light;
}

.text-time-d {
  line-height: 15px;
  z-index: 0;
}

.text-countdown-item {
  margin-right: 64px;
}

.aux-time-size {
  width: 950px !important;
}

.colors-01 {
  color: red;
  animation-name: color01;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.colors-02 {
  color: red;
  animation-name: color02;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.colors-03 {
  color: red;
  animation-name: color03;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes color01 {
  0% {
    color: #cedc28;
  }

  25% {
    color: #ee4693;
  }

  50% {
    color: #31a5dd;
  }

  75% {
    color: #55b856;
  }

  100% {
    color: #cedc28;
  }
}

@keyframes color02 {
  0% {
    color: #55b856;
  }

  25% {
    color: #cedc28;
  }

  50% {
    color: #ee4693;
  }

  75% {
    color: #31a5dd;
  }

  100% {
    color: #55b856;
  }
}

@keyframes color03 {
  0% {
    color: #ee4693;
  }

  25% {
    color: #31a5dd;
  }

  50% {
    color: #55b856;
  }

  75% {
    color: #cedc28;
  }

  100% {
    color: #ee4693;
  }
}

.menu-image-kid {
  position: absolute !important;
  z-index: -1;
  height: 100vh;
  right: 0;
  padding: 0px;
}

.card-city {
  width: 250px;
  height: 160px;
  background-color: #ffffff;
  margin-top: 25px;
}

.time-text-position {
  top: -94px;
}

.about-title {
  letter-spacing: 15px;
  font-weight: 200;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0px;
}

.card-title {
  letter-spacing: 7px;
  font-weight: 200;
  font-size: 19px;
  text-transform: uppercase;
  padding: 10px;
}

.card-sub-title {
  color: #2a2a2a;
  font-size: 25px;
  padding: 0px;
  padding-left: 10px;
}

.image-home-group {
  height: 100vh;
  z-index: -1;
  background-size: cover;

  /* Resize the background image to cover the entire container */
}

.description-home {
  letter-spacing: 7px;
  text-transform: uppercase;
  line-height: 25px;
  color: #2a2a2a !important;
}

.about-description {
  letter-spacing: 0px;
  text-transform: none;
}

.text-about-d {
  font-size: 53px !important;
  line-height: 15px !important;
}

.title-generic {
  color: #2a2a2a;
  font-size: 80px;
  line-height: 35px;
}

.text-time-d {
  color: #2a2a2a;
  font-size: 80px;
  line-height: 55px;
  width: 140px;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

.text-about-city {
  font-size: 60px;
  line-height: 55px;
  padding: 0;
  color: $gray;
}

.images-random {
  width: 100%;
  img {
    border-radius: 65px 0px 65px 0px;
  }
}

.box-animate-cities {
  float: left;
  padding: 0 15px 0 0;
}

.genesisexpo_module_infobox {
  &.infobox_alignment_left {
    text-align: left;
  }

  &.hover-animation {
    padding-top: 20px;
  }

  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

#genesisexpo_infobox_5e62bc74ae6e0 .infobox_wrapper {
  box-shadow: none;
}

.genesisexpo_module_infobox {
  &.type_tile .infobox_wrapper {
    border: 1px solid #dddddd;
  }

  &.layout_top .infobox_wrapper {
    padding: 35px 35px 45px 40px;
  }

  .infobox_wrapper {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    -webkit-transition: inherit;
    -o-transition: inherit;
    -moz-transition: inherit;
    transition: inherit;
  }

  .infobox_title {
    position: relative;
    z-index: 1;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 0;
    color: $gray;
    width: 275px;
    max-width: 100%;
  }

  .infobox_subtitle {
    letter-spacing: 9px;
    font-weight: 200;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0px;
  }

  &.infobox_alignment_left .infobox_button.button-read-more {
    left: 40px;
  }

  .infobox_wrapper .infobox_button {
    margin: 0;
  }
}

ul.wgl-products li {
  a {
    &.add_to_cart_button:before,
    &.button:before {
      box-shadow: 0px 11px 29px 0px rgba(242, 92, 0, 0.45);
    }
  }

  .added_to_cart.wc-forward:before {
    box-shadow: 0px 11px 29px 0px rgba(242, 92, 0, 0.45);
  }
}

.blog-post_quote-text:before,
.button-read-more,
.blog-post_link:before {
  box-shadow: 0px 11px 29px 0px rgba(242, 92, 0, 0.45);
}

.next-link_wrapper {
  .image_next:after,
  a:hover .image_next {
    box-shadow: 0px 11px 29px 0px rgba(242, 92, 0, 0.45);
  }
}

.prev-link_wrapper a:hover .image_prev,
.woocommerce div.product form.cart .button:before {
  box-shadow: 0px 11px 29px 0px rgba(242, 92, 0, 0.45);
}

#main ul li:before,
.next-link_wrapper .image_next:after,
.prev-link_wrapper .image_prev:after,
blockquote:before,
.blog-post_quote-text:before,
.button-read-more,
.blog-post_link:before {
  background: #f25c00;
}

.wgl-container ul {
  &.genesisexpo_plus li {
    &:after,
    &:before {
      background: #f25c00;
    }
  }

  &.genesisexpo_dash li:before {
    background: #f25c00;
  }
}

.woocommerce {
  .widget_price_filter .ui-slider .ui-slider-range,
  table.shop_table thead {
    background: #f25c00;
  }
}

#comments .comment-reply-link:hover,
#main ul li:before,
body .widget_rss ul li .rss-date {
  color: #fff;
}

ul.wgl-products {
  li {
    a {
      &.add_to_cart_button:before,
      &.button:before {
        color: #f25c00;
      }
    }

    .added_to_cart.wc-forward:before,
    a.button.loading:after,
    button.button.loading:after,
    input.button.loading:after {
      color: #f25c00;
    }
  }

  .woocommerce-loop-product__title a:hover {
    color: #f25c00;
  }
}

.blog-post_wrapper .share_post-container > a {
  color: #f25c00;
}

.button-read-more {
  color: #f25c00;

  &:hover:after {
    color: #fff;
  }
}

.genesisexpo_module_button a:hover,
.genesisexpo_module_counter .counter_title,
.genesisexpo_module_infobox .infobox_icon,
.header_search-field .search-form:after,
.isotope-filter a {
  color: #f25c00;
}

.meta-wrapper {
  color: #f25c00;

  a {
    color: #f25c00;
  }
}

.next-link_wrapper {
  a:hover {
    color: #f25c00;
  }

  .image_next {
    &.no_image:before,
    &:after {
      color: #f25c00;
    }
  }
}

.single_meta .share_post-container > a {
  color: #f25c00;
}

.prev-link_wrapper {
  a:hover {
    color: #f25c00;
  }

  .image_prev {
    &:after,
    &.no_image:before {
      color: #f25c00;
    }
  }
}

.single_team_page {
  .team-info_wrapper .team-department span,
  .team-single_speaches-info .speech-info_desc span {
    color: #f25c00;
  }
}

.wgl_module_team .team-department {
  color: #f25c00;
}

.wgl-theme-header .woo_mini_cart {
  .woocommerce-mini-cart__buttons a.button.wc-forward:not(.checkout):hover,
  .woocommerce-mini-cart__total span {
    color: #f25c00;
  }
}

.wgl_timetabs .timetabs_headings .wgl_tab {
  &.active .tab_subtitle,
  &:hover .tab_subtitle {
    color: #f25c00;
  }
}

.woocommerce {
  div.product {
    form.cart .button:hover:before,
    .woocommerce-tabs ul.tabs li.active {
      color: #f25c00;
    }
  }

  .widget_shopping_cart {
    .buttons a:hover,
    .total {
      color: #f25c00;
    }
  }

  .products ul.wgl-products .woocommerce-loop-product__title a:hover {
    color: #f25c00;
  }

  &.widget_shopping_cart {
    .buttons a:hover,
    .total {
      color: #f25c00;
    }
  }
}

.wpb-js-composer .wgl-container .vc_row {
  .vc_general.vc_tta {
    &.vc_tta-tabs .vc_tta-tabs-container .vc_tta-tab.vc_active > a,
    &.vc_tta-accordion
      .vc_tta-panels-container
      .vc_tta-panel.vc_active
      .vc_tta-panel-heading
      .vc_tta-panel-title {
      color: #f25c00;
    }
  }

  .vc_toggle.vc_toggle_active .vc_toggle_title,
  .vc_general.vc_tta.vc_tta-tabs
    .vc_tta-panels-container
    .vc_tta-panels
    .vc_tta-panel.vc_active
    .vc_tta-panel-heading
    .vc_tta-panel-title
    a,
  .vc_toggle.vc_toggle_active .vc_toggle_title h4 {
    color: #f25c00;
  }
}

.button-read-more {
  display: inline-block;
  position: relative;
  z-index: 1;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  position: absolute;
  bottom: -27.5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  margin-left: 4px;
  margin-bottom: 0;

  &:after {
    content: "\f054 ";
    font-family: "FontAwesome";
    font-size: 21px;
    line-height: 57px;
    opacity: 1;
    color: #fff;
    display: block;
    text-align: center;
  }
}

#genesisexpo_infobox_5e62bc74ae6e0:hover .infobox_wrapper {
  box-shadow: 0px 15px 38px 0 rgba(0, 0, 0, 0.1);
}

.genesisexpo_module_infobox:hover.hover-animation .infobox_wrapper {
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
  background-color: #ffffff;

  .infobox_button.button-read-more {
    -webkit-animation: bounceReadMore 0.5s ease-in-out both;
    -moz-animation: bounceReadMore 0.5s ease-in-out both;
    -o-animation: bounceReadMore 0.5s ease-in-out both;
    animation: bounceReadMore 0.5s ease-in-out both;
    opacity: 1;
    visibility: visible;
    margin: 0;
  }
}

.background-newsletter-woman {
  position: absolute;
  background-image: url(../images/pretty/news-bg.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: -1;
  background-repeat: no-repeat;
}

.news-general {
  padding: 0 330px 0 0;
  // padding: 0 330px 0 0;
}

.description-news {
  line-height: 24px;
  color: $gray-light;
  margin-top: 15px;
}

.separator {
  width: 750px;
}

@media only screen and (min-width: 1024px) {
  .images-random {
    display: none;
  }

  .runners-mobile {
    margin-right: 100px;
  }
}

@media only screen and (max-width: 1024px) {
  /*Ajustes mobile*/
  .about-mobile,
  .runners-mobile {
    text-align: left;
    padding: 0 30px;
  }

  .runners-mobile {
    margin-right: 0;
    margin-bottom: 60px;
  }

  .news-general {
    padding: 0 30px;
    text-align: left;
  }
  /*Fim Ajustes mobile*/

  .newsletter-input-group {
    position: relative;
    width: 270px;

    .btn-rounden {
      right: -30px;
    }
  }

  .background-newsletter-woman {
    display: none;
  }

  .menu-image-kid {
    display: none;
  }

  .box-animate-cities {
    padding: 0;
    float: none;
  }

  .cointainer-home-middel {
    display: none;
  }

  .aux-overflow-photos {
    width: auto !important;
    padding: 0 30px;
  }

  .title-generic {
    line-height: 0px;
    font-size: 37px;
  }

  .splash-color {
    display: none;
  }

  .description-home {
    letter-spacing: 0px;
    line-height: 20px;
  }

  .image-home-group {
    display: none !important;
  }

  .hands-splash-color {
    display: none !important;
  }

  .general-count {
    top: 0;

    .text-about-city {
      margin-top: 20px;
      font-size: 30px;
      line-height: 14px;
    }
  }

  .countdown-cities {
    padding: 0;
  }

  .about-title {
    letter-spacing: 7px;
    font-weight: 200;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
  }

  .text-about-d {
    font-size: 40px !important;
    line-height: 40px !important;
    padding: 0;
  }

  .aux-margin-right {
    margin-right: 10px !important;
    margin-left: 0 !important;
  }

  .lines-home,
  .lines-about,
  .lines-count {
    display: none;
  }
}
