/****************** Cidades **/

.page-city {
  h3,
  h2 {
    text-align: center;
  }

  .text-about-d {
    line-height: 55px !important;
  }

  .tshirt-sizes {
    max-width: 100%;
  }

  .title-tshirt {
    text-align: left;
  }

  .row {
    margin: 50px auto 0;
    justify-content: center;

    .text-uppercase {
      text-transform: uppercase;
    }

    .camisetas-color {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .tshirt-responsive {
      display: none;
    }

    .bg-img-camisas {
      background: url(../images/pretty/splash-bottom-img.jpg) no-repeat;
      background-position: bottom;
      background-size: cover;
    }

    .icon-heart {
      background: url(../images/icon-heart.png);
      background-position: 57px 14px;
      background-repeat: no-repeat;
    }

    .p-inscrever {
      font-weight: 600;
      margin: 0;
    }

    .icon-insc-inline {
      display: flex;
      margin-top: 20px;
      align-items: center;

      img {
        margin-left: 10px;
      }
    }

    .icon-nav-right {
      display: inline-block;
      margin-left: 5px;
    }

    .img-header-city {
      background: url(../images/image-header-city.jpg) no-repeat;
      background-position: left;
      background-size: contain;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    /* faq */
    .faqs-container {
      margin: 60px auto;
      max-width: 100%;
    }

    .faq {
      background-color: transparent;
      border: 1px solid #ccc;
      border-radius: 10px;
      // padding: 70px;
      padding: 15px 35px;
      position: relative;
      overflow: hidden;
      margin: 25px 0;
      transition: 0.3s ease;
    }

    .faq.active {
      background: url(../images/splash-faq.jpg) no-repeat;
      background-size: cover;
      box-shadow: 0px 15px 28px 0 rgba(0, 0, 0, 0.1);
      min-height: 320px;
    }

    .faq.active::before {
      top: -10px;
      left: -30px;
      transform: rotateY(180deg);
    }

    .faq-title {
      margin: 0 35px 0 0;
      font-size: 26px;
      text-align: left;
    }

    .faq-text {
      display: none;
      margin: 10px 0 0;
      line-height: 22px;
    }

    .faq.active .faq-text {
      display: block;
    }

    .faq-toggle {
      background-color: transparent;
      border: none;
      border-radius: 50%;
      color: white;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      padding: 0;
      position: absolute;
      top: 30px;
      right: 30px;
      height: 30px;
      width: 30px;
    }

    .faq-toggle:focus {
      outline: none;
    }

    .faq-toggle:hover {
      transform: scale(1.5);
    }

    .faq.active .faq-toggle {
      background-color: #9fa4a8;
    }

    .faq-toggle .fa-times {
      display: none;
    }

    .faq.active .faq-toggle .fa-times {
      display: block;
    }

    .faq-toggle .fa-chevron-down {
      color: $gray-light;
    }

    .faq.active .faq-toggle .fa-chevron-down {
      display: none;
    }
    /* end faq */

    .banner-top-1 {
      height: 320px;
    }

    .banner-top {
      box-shadow: 0px 15px 28px 0 rgba(0, 0, 0, 0.1);
      padding: 50px;
      margin-bottom: 70px;
      margin-top: 80px;
      border-radius: 20px;

      .text-banner-top {
        margin-left: 80px;
      }

      .text-top-banner {
        line-height: 36px !important;
      }

      .text-banner-contact {
        font-size: 40px !important;
        color: #2a2a2a;
        line-height: 0px;
      }
    }

    img {
      height: auto;
      max-width: 100%;
      vertical-align: middle;
    }

    .btn-city {
      border-radius: 2.3rem;
      box-shadow: 0 10px 20px -14px rgba(0, 0, 0, 0.25);
      color: white;
      font-weight: 600;
      padding: 0.4rem;
      margin-bottom: 15px;

      animation-name: colorButton;
      animation-duration: 5s;
      animation-iteration-count: infinite;

      &::after {
        background: url(../images/icon-heart.png);
      }

      &:hover {
        background-color: #f38d4d;
      }
    }

    .btn--block {
      display: block;
      width: 100%;
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .cards__item {
      display: flex;
      justify-content: center;
      padding: 1rem;

      transition: all ease 1s;

      &:hover {
        transform: scale(1.055);
      }

      @media (min-width: 40rem) {
        width: 33.333%;
      }
      @media (min-width: 56rem) {
        width: 33.3333%;
      }
    }

    .card {
      background-color: white;
      border-radius: 0.65rem;
      box-shadow: 0 10px 20px -14px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      overflow: hidden;
      &:hover {
        .card__image {
          filter: contrast(100%);
        }
      }
    }

    .card__content {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      padding: 2rem;
    }

    .card__image {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-top-left-radius: 0.55rem;
      border-top-right-radius: 0.55rem;
      border-bottom-right-radius: 0.55rem;
      border-bottom-left-radius: 0.55rem;
      filter: contrast(70%);
      overflow: hidden;
      position: relative;
      transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
      &::before {
        content: "";
        display: block;
        padding-top: 96.6%;
      }
      @media (min-width: 40rem) {
        &::before {
          padding-top: 96.6%;
        }
      }
    }

    .card__image--01 {
      background-image: url(../images/kit-01.jpg);
    }

    .card__image--02 {
      background-image: url(../images/kit-02.jpg);
    }

    .card__image--03 {
      background-image: url(../images/kit-03.jpg);
    }

    .card__text {
      flex: 1 1 auto;
      font-size: 0.875rem;
      line-height: 1.5;
      margin-bottom: 1.25rem;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .banner-top-1 {
    height: 160px !important;
  }

  .page-city .row .img-header-city {
    justify-content: center;
  }

  .page-city .row .banner-top .text-banner-contact {
    font-size: 32px !important;
  }

  .banner-top {
    padding: 22px;
  }

  .page-city .row .banner-top .text-banner-top {
    margin-top: -87px !important;
  }

  .btn-city {
    padding: 0 !important;
  }

  .icon-heart {
    background-position: 16px 8px !important;
  }

  .faq.active {
    height: auto;
  }

  .faq-text {
    line-height: 22px;
  }
}

@media only screen and (max-width: 768px) {
  .faq {
    padding: 18px !important;
  }

  .faq-toggle {
    top: 15px !important;
  }

  .faq-title {
    font-size: 20px !important;
  }

  .faq-title {
    margin: 0 !important;
  }

  .page-city .text-about-d {
    line-height: 40px !important;
  }

  .page-city .row {
    justify-content: center;
  }

  .icon-heart {
    background-position: 56px 8px !important;
  }

  .page-city .row .banner-top .text-banner-contact {
    font-size: 18px !important;
    line-height: 30px !important;
    padding: 0;
  }

  .page-city .row .banner-top {
    padding: 10px !important;
  }

  .page-city .row .banner-top .text-banner-top {
    margin: 0px !important;
  }

  .img-header-city {
    background-image: none !important;
    justify-content: flex-start !important;
  }

  .btn-city {
    margin-bottom: 0px !important;
  }

  .page-city .row .tshirt-responsive {
    display: block !important;

    img {
      margin: 30px 0;
    }
  }

  .page-city .row .camisetas-color {
    display: none !important;
  }
}
