/****************** Sobre **/
// .site-wrapper {
//   background-image: url(../images/pretty/friends-race-full.jpg);
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   // height: 100%;
//   height: calc(100vh - 0px);
// }

.page-about {
  padding-top: 150px;

  .title-generic {
    font-size: 58px;
    line-height: 60px;
  }

  .line-modified {
    font-size: 48px;
    line-height: 40px;
  }

  .btn-about {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 30px;
  }

  .button-play {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 10px solid white;
    background: #55b856 !important;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;

    &:hover {
      background-color: #68dd6a !important;
    }

    img {
      display: block;
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .video-popup-model {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    transition: all 0.5s ease;
    opacity: 0;

    &.smooth_show {
      opacity: 1;
    }

    .video-layer {
      width: 100%;
      height: 100%;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (min-width: 800px) {
        background-color: rgba(0, 0, 0, 0.5);
      }

      .video-model-close-layer {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .model-wrapper {
        width: 100%;
        height: auto;
        @media screen and (min-width: 800px) {
          max-width: 65%;
        }

        .videomodel {
          width: 100%;
          height: auto;
          background-color: black;
          @media screen and (min-width: 800px) {
            position: relative;
            padding: 0.5rem;
            background-color: white;
            border-radius: 2rem;
          }

          .videoscreen {
            width: 100%;
            border-radius: 2rem;
            overflow: hidden;
            background: #000000;

            video,
            iframe {
              width: 100%;
              object-fit: cover;
              height: auto;
              border: 0;
              outline: none;
              display: block;
            }
          }
        }

        .modelCloseBtn {
          width: 4rem;
          height: 4rem;
          background-color: transparent;
          border: 0.2rem solid white;
          cursor: pointer;
          border-radius: 50%;
          position: absolute;
          top: 1rem;
          right: 1rem;
          @media screen and (min-width: 800px) {
            background-color: white;
            right: -4rem;
            top: -3rem;

            &:hover {
              background-color: #55b856;
              border-color: #55b856;
            }
          }

          &:before,
          &:after {
            content: " ";
            width: 0.2rem;
            height: 2.2rem;
            position: absolute;
            left: 1.7rem;
            top: 0.7rem;
            background-color: white;
            @media screen and (min-width: 800px) {
              background-color: black;
            }
          }
          &:before {
            transform: rotate(45deg);
          }
          &:after {
            transform: rotate(-45deg);
          }
          &:hover {
            &:before,
            &:after {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .page-about .title-generic {
    font-size: 32px !important;
    line-height: 32px !important;
  }

  .button-play {
    width: 80px !important;
    height: 80px !important;

    img {
      width: 20px !important;
    }
  }
}

@media only screen and (min-width: 779px) and (max-width: 1025px) {
  .page-about .description-home {
    max-width: 38rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 2559px) {
  .page-about .button-play {
    display: block;
    position: fixed;
  }
}

@media only screen and (min-width: 1439px) {
  .page-about .btn-about {
    top: 50% !important;
    margin-left: 20% !important;
  }
}
