.box-animate-duvidas {
  img {
    margin: 10px;
  }
}

.genesisexpo_module_infobox .infobox_title {
  font-size: 24px;
  text-align: left !important;
}

.box-duvidas {
  min-height: 325px !important;
  line-height: 22px !important;
}

.sec-duvidas {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  margin-bottom: 80px;
}

.m-top80 {
  margin-top: 80px;
}

.title-duvidas {
  h3,
  h2 {
    text-align: left !important;
  }

  p {
    line-height: 22px;
  }
}

@media only screen and (max-width: 768px) {
  .page-city .row {
    margin: 0 !important;
  }
}
