/****************** Partners **/

.page-partners {
  padding-top: 150px;
  .row {
    justify-content: space-between;
  }

  .title-generic {
    font-size: 58px;
    line-height: 60px;
  }

  .container-home-middle {
    position: fixed;
    margin-top: -280px;
  }

  .p-partners {
    margin-bottom: 5px !important;
    line-height: 22px;
  }

  .bold {
    font-weight: 600;
  }

  .top-40 {
    margin-top: 60px;
  }

  .m-40 {
    margin-top: 40px;
  }

  .m-40-bottom {
    margin-bottom: 40px;
  }

  .pictures-partners {
    position: relative;
    // top: -290px !important;

    .image-home-group-slide {
      &:nth-child(1) {
        max-width: none !important;
        max-height: none !important;
        position: absolute;
        top: -50px;
        border-radius: 65px 0px 65px 0px;
        width: 300px !important;
        height: auto !important;
        top: 170px;
      }

      &:nth-child(2) {
        max-width: none !important;
        max-height: none !important;
        position: absolute;
        border-radius: 65px 0px 65px 0px;
        width: 300px !important;
        height: auto !important;
        top: 50px;
        left: 355px;
      }

      &:nth-child(3) {
        max-width: none !important;
        max-height: none !important;
        position: absolute;
        top: 440px;
        left: 355px;
        border-radius: 65px 0px 65px 0px;
        width: 300px !important;
        height: auto !important;
      }

      &:nth-child(4) {
        max-width: none !important;
        max-height: none !important;
        position: absolute;
        top: 830px;
        left: 355px;
        border-radius: 65px 0px 65px 0px;
        width: 300px !important;
        height: auto !important;
      }

      &:nth-child(5) {
        max-width: none !important;
        max-height: none !important;
        position: absolute;
        top: -50px;
        border-radius: 65px 0px 65px 0px;
        width: 300px !important;
        height: auto !important;
        top: 575px;
      }
    }
  }

  ul {
    list-style: none;
    li {
      font-weight: 400;

      &:before {
        content: "\2022";
        color: $sweet-orange;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .page-partners .title-generic {
    font-size: 32px;
    line-height: 36px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .page-partners .row {
    .image-home-group-slide:nth-child(1),
    .image-home-group-slide:nth-child(5) {
      width: 265px !important;
    }

    .image-home-group-slide:nth-child(2),
    .image-home-group-slide:nth-child(3),
    .image-home-group-slide:nth-child(4) {
      left: 275px !important;
      width: 265px !important;
    }
  }
}
