/****************** Contact **/

.page-contact {
  .row {
    padding: 150px 0 0 0;
  }
  // background-image: url(../images/pretty/bg-contato.jpg);
  // background-size: cover;
  // background-repeat: no-repeat;

  .title-generic {
    font-size: 58px;
    line-height: 48px;
  }

  .newsletter-input-group {
    width: 100% !important;
  }

  textarea:focus,
  select:focus {
    outline: none;
  }

  .form-contact {
    .newsletter-input {
      flex: 1 1 auto;
      display: block;
      margin-bottom: 10px;
      // padding: 0 0 0 14px;
      margin-top: 5px;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-size: 16px;
    }
    select {
      color: $gray-light;
      height: 65px;
    }

    input,
    select {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }

    .btn-enviar-contato {
      background-color: #55b856;
      color: white;
      font-weight: 700;
      font-size: 22px;
      padding: 20px 15px 15px 20px;
      border-radius: 50px;
      width: 19rem;
      height: auto;
      margin: 25px 0 0 0;
    }
  }
}

.btn-enviar-contato:hover {
  background-color: #68dd6a !important;
}

@media only screen and (max-width: 1024px) {
  .page-contact .form-contact .newsletter-input {
    letter-spacing: 0.1em;
    font-size: 13px;
  }
}

@media only screen and (max-width: 768px) {
  .newsletter-input {
    padding: 0 0 0 10px !important;
  }

  .page-contact .row {
    padding: 150px 0 100px 0;
  }

  .form-contact {
    margin-top: 40px;
  }
}
