button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
  
    &.learn-more {
      width: 12rem;
      height: auto;
  
      .circle {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: #f1701f;
        border-radius: 1.625rem;
        animation-name: colorButton;
        animation-duration: 5s;
        animation-iteration-count: infinite;
  
        .icon {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          background: #fff;
  
          &.arrow {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            left: 0.625rem;
            width: 1.125rem;
            height: 0.125rem;
            background: none;
  
            &::before {
              position: absolute;
              content: '';
              top: -0.25rem;
              right: 0.0625rem;
              width: 0.625rem;
              height: 0.625rem;
              border-top: 0.125rem solid #fff;
              border-right: 0.125rem solid #fff;
              transform: rotate(45deg);
            }
          }
        }
      }
  
      .button-text {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: #282936;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
      }
    }
  
    &:hover {
      .circle {
        width: 100%;
  
        .icon.arrow {
          background: #fff;
          transform: translate(1rem, 0);
        }
      }
  
      .button-text {
        color: #fff;
      }
    }
  }
  
  @keyframes colorButton {
    0% {
      background-color: #f1701f;
    }
  
    25% {
      background-color: #31a5dd;
    }
  
    50% {
      background-color: #cedc28;
    }
  
    75% {
      background-color: #55b856;
    }
  
    100% {
      background-color: #ee4693;
    }
  }
  
  .card-button {}