.form-group.input-material {
    position: relative;
    margin-top: 50px;
    margin-bottom: 25px;
  
    label {
      color: #fff;
      font-size: 16px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 7px;
      transition: 0.1s ease all;
      -moz-transition: 0.1s ease all;
      -webkit-transition: 0.1s ease all;
    }
  
    .form-control {
      border: none;
      border-bottom: 1px solid #fff;
      border-radius: 0px;
      background: transparent;
      padding-left: 5px;
      box-shadow: none;
  
      /* required fields */
      /* active state */
      /* invalid state */
  
      &:required ~ label::after {
        /* content: '*'; */
        color: #dc3545;
        padding-left: 2px;
        font-size: 0.8em;
      }
  
      &:focus, &[value]:not([value=""]) {
        border-bottom-color: #1d634c;
        color: #fff;
      }
  
      &:focus ~ label, &[value]:not([value=""]) ~ label {
        top: -25px;
        font-size: 14px;
        color: #1d634c;
        font-weight: 500;
      }
  
      &:focus.invalid, &.invalid, &:focus.parsley-error, &[value]:not([value=""]).parsley-error {
        border-bottom-color: #dc3545;
      }
  
      &:focus.invalid ~ label, &.invalid ~ label, &:focus.parsley-error ~ label, &[value]:not([value=""]).parsley-error ~ label {
        color: #dc3545;
      }
    }
  
    .parsley-errors-list {
      color: #dc3545;
      list-style: none;
      font-size: 0.7em;
      padding-left: 5px;
    }
  }