/* Mobile first layout SmartMenus Core CSS (it's not recommended editing these rules)
   You need this once per page no matter how many menu trees or different themes you use.
-------------------------------------------------------------------------------------------*/

.sm {
    display: table;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    direction: ltr;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  
    ul, li {
      display: table;
      list-style: none;
      margin: 0;
      padding: 0;
      line-height: normal;
      direction: ltr;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
  }
  
  .sm-rtl {
    direction: rtl;
    text-align: right;
  
    ul, li {
      direction: rtl;
      text-align: right;
    }
  }
  
  .sm {
    > li > {
      h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;
      }
    }
  
    ul {
      display: none;
      padding-left: 5px;
    }
  
    li {
      position: relative;
    }
  
    a {
      position: relative;
      display: block;
  
      &.disabled {
        cursor: not-allowed;
      }
    }
  
    &:after {
      content: "\00a0";
      display: block;
      height: 0;
      font: 0px/0 serif;
      clear: both;
      visibility: hidden;
      overflow: hidden;
    }
  
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  
    * {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  
      &:before, &:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
    }
  }
  
  .sm-clean {
    background: #eeeeee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  
    a {
      padding: 5px 20px;
  
      /* make room for the toggle button (sub indicator) */
      padding-right: 58px;
      font-size: 18px;
      line-height: 17px;
      text-decoration: none;
  
      &:hover, &:focus, &:active {
        padding: 5px 20px;
  
        /* make room for the toggle button (sub indicator) */
        padding-right: 58px;
        font-size: 18px;
        line-height: 17px;
        text-decoration: none;
      }
  
      &.disabled {
        color: #bbbbbb;
      }
  
      span.sub-arrow {
        position: absolute;
        top: 50%;
        margin-top: -17px;
        left: -35px;
        right: auto;
        width: 34px;
        height: 34px;
        overflow: hidden;
        font: bold 18px/34px monospace !important;
        text-align: center;
        text-shadow: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
      }
  
      &.highlighted span.sub-arrow:before {
        display: block;
        content: '-';
      }
    }
  
    > li {
      &:first-child > {
        a, :not(ul) a {
          -webkit-border-radius: 5px 5px 0 0;
          -moz-border-radius: 5px 5px 0 0;
          -ms-border-radius: 5px 5px 0 0;
          -o-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
        }
      }
  
      &:last-child > {
        a, *:not(ul) a {
          -webkit-border-radius: 0 0 5px 5px;
          -moz-border-radius: 0 0 5px 5px;
          -ms-border-radius: 0 0 5px 5px;
          -o-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
        }
  
        ul {
          -webkit-border-radius: 0 0 5px 5px;
          -moz-border-radius: 0 0 5px 5px;
          -ms-border-radius: 0 0 5px 5px;
          -o-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
  
          > li:last-child > {
            a, *:not(ul) a {
              -webkit-border-radius: 0 0 5px 5px;
              -moz-border-radius: 0 0 5px 5px;
              -ms-border-radius: 0 0 5px 5px;
              -o-border-radius: 0 0 5px 5px;
              border-radius: 0 0 5px 5px;
            }
  
            ul {
              -webkit-border-radius: 0 0 5px 5px;
              -moz-border-radius: 0 0 5px 5px;
              -ms-border-radius: 0 0 5px 5px;
              -o-border-radius: 0 0 5px 5px;
              border-radius: 0 0 5px 5px;
  
              > li:last-child > {
                a, *:not(ul) a {
                  -webkit-border-radius: 0 0 5px 5px;
                  -moz-border-radius: 0 0 5px 5px;
                  -ms-border-radius: 0 0 5px 5px;
                  -o-border-radius: 0 0 5px 5px;
                  border-radius: 0 0 5px 5px;
                }
  
                ul {
                  -webkit-border-radius: 0 0 5px 5px;
                  -moz-border-radius: 0 0 5px 5px;
                  -ms-border-radius: 0 0 5px 5px;
                  -o-border-radius: 0 0 5px 5px;
                  border-radius: 0 0 5px 5px;
  
                  > li:last-child > {
                    a, *:not(ul) a {
                      -webkit-border-radius: 0 0 5px 5px;
                      -moz-border-radius: 0 0 5px 5px;
                      -ms-border-radius: 0 0 5px 5px;
                      -o-border-radius: 0 0 5px 5px;
                      border-radius: 0 0 5px 5px;
                    }
  
                    ul {
                      -webkit-border-radius: 0 0 5px 5px;
                      -moz-border-radius: 0 0 5px 5px;
                      -ms-border-radius: 0 0 5px 5px;
                      -o-border-radius: 0 0 5px 5px;
                      border-radius: 0 0 5px 5px;
  
                      > li:last-child > {
                        a, *:not(ul) a, ul {
                          -webkit-border-radius: 0 0 5px 5px;
                          -moz-border-radius: 0 0 5px 5px;
                          -ms-border-radius: 0 0 5px 5px;
                          -o-border-radius: 0 0 5px 5px;
                          border-radius: 0 0 5px 5px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
  
        a.highlighted, *:not(ul) a.highlighted {
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
          border-radius: 0;
        }
  
        ul > li:last-child > {
          a.highlighted, *:not(ul) a.highlighted {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            border-radius: 0;
          }
  
          ul > li:last-child > {
            a.highlighted, *:not(ul) a.highlighted {
              -webkit-border-radius: 0;
              -moz-border-radius: 0;
              -ms-border-radius: 0;
              -o-border-radius: 0;
              border-radius: 0;
            }
  
            ul > li:last-child > {
              a.highlighted, *:not(ul) a.highlighted {
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                -ms-border-radius: 0;
                -o-border-radius: 0;
                border-radius: 0;
              }
  
              ul > li:last-child > {
                a.highlighted, *:not(ul) a.highlighted {
                  -webkit-border-radius: 0;
                  -moz-border-radius: 0;
                  -ms-border-radius: 0;
                  -o-border-radius: 0;
                  border-radius: 0;
                }
              }
            }
          }
        }
      }
  
      &:first-child {
        border-top: 0;
      }
    }
  }
  
  .main-menu {
    float: none;
    max-width: 200px;
    width: 100%;
    position: relative;
    z-index: 9999;
  
    ul {
      width: 12em;
  
      /* fixed width only please - you can use the "subMenusMinWidth"/"subMenusMaxWidth" script options to override this if you like */
    }
  }
  
  .sm-clean a {
    padding-right: 0;
    padding-left: 0;
  
    &:hover, &:focus, &:active {
      padding-right: 0;
      padding-left: 0;
    }
  }